<td class="text-center">
    <div class="m-0 p-0 text-center" style="position: relative; font-size: 75%; font-weight: bold;">
        {{ data }} %
        <div class="alert alert-success m-0 p-0 pt-0 pb-1" style="width: {{ data }}%"></div>
    </div>
</td>
